.navbar {
  display: flex;
  justify-content: space-between;
  padding: 56px 165px;
  padding-bottom: 58px;
  transform: translateY(-50vh);
  animation: from-above var(--duration) forwards;

  @media screen and (max-width: 1000px) {
    padding: 32px 39px;
    padding-bottom: 58px;
  }

  @media screen and (max-width: 500px) {
    padding: 32px 15px;
    padding-bottom: 64px;
  }
}
